<launch>
<!-- AMCL Node -->
  <node name="amcl" pkg="amcl" type="amcl" output="screen">
    <param name="odom_frame_id" value="odom"/>
    <param name="odom_model_type" value="diff-corrected"/>
    <param name="base_frame_id" value="base_link"/>
    <param name="global_frame_id" value="map"/>
    <param name="tf_broadcast " value="false"/>

    <param name="update_min_d" value="0.3"/>
    <param name="update_min_a" value="0.6283185307"/>
    <param name="min_particles" value="200"/>
    <param name="transform_tolerance" value="0.2"/>

    <param name="laser_max_beams" value="50"/>
    <param name="z_hit" value="0.8"/>
    <param name="z_rand" value="0.2"/>

    <param name="initial_pose_x" value="0"/>
    <param name="initial_pose_y" value="0"/>
    <param name="initial_pose_a" value="0"/>

    <param name="use_map_topic" value="true"/>

  </node>

</launch>