<?xml version="1.0"?>
<launch>
  <arg name="world_name" value="racecar_walker"/>
  <!-- <arg name="world_name" value="racecar_tunnel"/> -->
  <arg name="gui" default="true" />
  <arg name="run_camera" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find racecar_gazebo)/worlds/$(arg world_name).world"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- urdf xml robot description loaded on the Parameter Server, converting the xacro into a proper urdf file-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find races)/urdf/full_racecar.xacro'" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="racecar_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model racecar -z 0.05" />
<!-- -x -57.0 for tunnel -->

  <!-- Spawn the MUXs -->
  <arg name="racecar_version" default="racecar-v2" />
  <include file="$(find racecar)/launch/mux.launch" ns="vesc" />

  <!-- control, tf and odometry launch file -->
  <include file="$(find control_tf_odometry)/launch/control_tf_odometry.launch" ns="/"/>

  <!-- mapping with slam-gmapping -->
  <!-- provides a map and map → odom transform -->
  <include file="$(find mapping_localization)/launch/slam.launch"/>
 
  <!-- localization with amcl -->
  <!-- uses a map from slam  also makes a map → odom transform, no need for two transforms-->
  <include file="$(find mapping_localization)/launch/amcl.launch"/>

  <!-- load rviz -->
  <include file="$(find visual_aid)/launch/rviz.launch"/>


</launch>
